body {
    border-top: 3px solid #F48024;
}

body > header {
    height: 60px;
    box-shadow: 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 0 rgba(12,13,14,0.1), 0 1px 1px rgba(12,13,14,0.025);
}

body > header div {
    font-weight: normal;
    line-height: 60px;
}

.inner-header {
    max-width: 1060px;
    margin: 0 auto;
}

.logo { 
    text-indent: -999em;
    display: block;
    height: 60px;
    float: left;
}

.content {
    width: 1060px;
    margin: 0 auto;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

span.lang:before {
    content:'● ';
    margin-right:4px;
}

.lang.lang-dotnet { color: #2c5777; }
.lang.lang-ruby { color: #C91D2E; }
.lang.lang-go { color: #45A163; }
.lang.lang-shell { color: #FFCF10; }
.lang.lang-node { color: #6A737C; }
.lang.lang-less { color: #F2720C; }