body, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 1.3;	
    background: #fff url('img/bg-site.png') repeat top left;	
    overflow-x: hidden;
}

.intro, .content {
    width: 100%;
}

.content {
    background-color: #fcfcfc;
    border-top: 1px solid #fff;
    overflow: auto;
    min-height: 330px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);		
    text-align: center;
    overflow-x: hidden;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

a {
    color: #62b0df;	
    text-decoration: none;
}

a:visited {
    color: #326eb6;	
}

h2 {
    font-size: 25px;
    font-weight: normal;	
}

li.section-title {
    color: #666;
}
li.section-title > ul {
    padding-top: 4px;
}

ul {
    list-style: none;	
    margin-left: 0;
    padding-left: 0;
}

ul ul {
    padding-left: 10px;
}

ul li {
    margin-bottom: 10px;	
    border-bottom: 1px solid #f2f2f2;
    margin-left: 0;
    padding-bottom: 15px;
}

ul li ul li {
    margin-bottom: 2px;
    border-bottom: 0;
    padding-bottom: 2px
}

.logo { 
    text-indent: -999em;
    display: block;
    width: 222px;
    height: 52px;
    float: left;
    background: transparent url('img/big-logo.png') no-repeat top left;	
    clear: left;
    margin-bottom: 40px;
}

.intro {
    padding-top: 30px;	
    text-align: center;
}

.introtext {
    color: #3a6da6;
    font-size: 55px;	
    text-shadow: 0 1px 1px #fff;
    text-transform: lowercase;
    clear: both;
    margin: 26px auto 28px auto;
}

.col2 {
    width: 460px;
    float: left;	
    margin-right: 20px;
    text-align: left;
}

.col2.linksection { padding-top: 15px; }

.footer {
    font-size: 12px;	
    padding: 20px 0 35px 0;
}

.fr { float: left; display: inline-block; }

.footer .wrapper a 
{
    padding-right: 5px;
}
